/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
/**
 * мои стили
*/
body{
    background-color: #f0f0f0;
}
img{
    max-width: 100%;
    max-height: 100%;
}
.books hr{
    display: block;
    width: 100%;
    border-color: transparent;
}
.book{
    margin-bottom: 30px;
    text-align: center;
}
.book .col.s6 a, .container .add-to-basket{
    background-color: #6a1b9a;
    color: #fff;
    padding: 5px 10px;
    margin-top: 5px;
    cursor: pointer;
    display: block;
    text-align: center;
}
.book .col.s6 a:hover, .container .add-to-basket:hover{
    background-color: #9c27b0;
}
.book img{
    max-height: 250px;
}
.book .name{
    color: #00695c;
    font-size: 1.1em;
    height: 50px;
}
.book .autor{
    color: #76ff03;
}
.book .publishing_house{
    color: #e64a19;
}
.book .autor span, .book .publishing_house span{
    font-weight: bold;
}
.book .annotation{
    text-align: justify;
}
#booked .modal-footer a:not([disable]), #data-end .modal-footer a, #book-by-number .modal-footer a:not([disable]){
    color: #fff;
}
.container .show-book{
    display: none;
}
#logo-container{
    cursor: pointer;
}